@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.color-custom{
  background-image: linear-gradient(91deg,#aa755f 29%,#aa755f 38%,#aa755f 53%,rgba(197,172,96,1) 100%)!important;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0px;
  font-size: 23px;
  text-transform: none;
  letter-spacing: .5px;
  font-weight: 400;
  font-style: normal;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: color .3s, border-bottom-color .3s;
}


.bg-image {
 
  height: 100vh;
}
.about{
 
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)) ,url('../public/dylis2.jpeg') center center;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  background-attachment: fixed;
 
}

/* .header {
  font-family: 'Satisfy', cursive;
} */

.logo {
  font-family: 'Dancing Script', cursive !important;
}

.sidebar-hide {

  transform: translateY(800px);
  left: 0;
  height: 90vh;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.sidebar-show {
  left: 0;
  min-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 20;
  width: 100%;
  transition: transform .5s ease-in-out;
  transform: translateY(0px);

}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  height: 91vh;

}

/* .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 91vh;

  } */

.home .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;

}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-size: cover;
  background-position: center;

}





.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper2 img {
  height: 80%;
  width: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 75vh !important;
}

.mySwiper {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  background-size: cover;
  background-position: center;
}

.gallery .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.thumbs {
  height: 10vh;


}

@media screen and (min-width:800px) {
  .home .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* height: 160%; */

  }
}
.mailchimp button {
  clear: left;
  color: white;
  background-color: #aa755f ;
  margin: 2px;
 padding:10px;
 border-radius: 5px;

}
.mailchimp input {
 padding:10px;
}